.removeCategory {
  color: white;
}

.removeCategory:hover {
  color: black;
}

.gridPanel {
  overflow: auto;
  height: 27vw;
  text-align: center;
}

.name  {
  font-size: 6vw;
  margin-top: 2vw;
}
