.removeCategory {
  color: white;
}

.removeCategory:hover {
  color: black;
}

.gridPanel {
  overflow: auto;
  height: 27vw;
  text-align: center;
}

.gridPanel:hover {
  padding: 10px !important;

  /*color: black !important;
  background-color: white !important;*/
}

.name  {
  font-size: 6vw;
  margin-top: 2vw;
}
